<template name="homePage">
    <div class="container">
        <form class="row new-event">
            <div class="col-xs-6 col-sm-4">
                <input class="form-ctrl" type="text" name="text" placeholder="Event name" maxlength="20" />
            </div>

            <div class="col-xs-6 col-sm-4">
                <input class="form-ctrl col-xs-6 col-sm-4" type="date" name="date" />
            </div>

            <div class="col-xs-12 col-sm-4">
                <button class="form-ctrl col-xs-12 col-sm-4" type="submit">Add</button>
            </div>

        </form>

        <ul>
            {{#each events}}
                {{> eventEntry}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="eventEntry">
    <li class="event-entry">
        <span><strong>{{title}}</strong></span>
        <span>{{date}}</span>
        <button class="delete">&times;</button>
    </li>
</template>

<template name="eventPage">
    <div class="container">
        <form class="row new-guest">
            <div class="col-xs-6 col-sm-4">
                <input class="form-ctrl " type="text" name="name" placeholder="Guest name" maxlength="20" />
            </div>

            <div class="col-xs-6 col-sm-4">
                <select name="status" class="form-ctrl col-xs-6 col-sm-4">
                    <option value="attending">Attending</option>
                    <option value="maybe">Maybe</option>
                    <option value="not attending">Not Attending</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-4">
                <button class="form-ctrl col-xs-12 col-sm-4" type="submit">Add</button>
            </div>
        </form>
        <div class="guestList">
            <div class="attending">
                <div class="guest-list-title">Attending</div>
                {{#if isEmpty attending}}
                    <div class="empty-list">No guests are about to attend this event</div>
                {{else}}
                    {{#each attending}}
                        {{> guest}}
                    {{/each}}
                {{/if}}
            </div>

            <div class="maybe">
                <div class="guest-list-title">Maybe</div>
                {{#if isEmpty maybe}}
                    <div class="empty-list">No guests will maybe attend this event</div>
                {{else}}
                    {{#each maybe}}
                        {{> guest}}
                    {{/each}}
                {{/if}}
            </div>

            <div class="notAttending">
                <div class="guest-list-title">Not Attending</div>
                {{#if isEmpty notAttending}}
                    <div class="empty-list">No guests will not attend this event</div>
                {{else}}
                    {{#each notAttending}}
                        {{> guest}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="guest">
    <div class="row guest-entry">
        <img class="col-xs-2 img-rounded" src="http://lorempixel.com/50/50/people" />
        <div class="col-xs-6 guest-name">
            {{name}}
        </div>
        <button class="col-xs-2 delete">&times;</button>

        <div class="col-xs-2">
            <select class="attending-select" name="status">
                <option value="attending" {{selectedIfEquals "attending"}}>Attending</option>
                <option value="maybe" {{selectedIfEquals "maybe"}}>Maybe</option>
                <option value="not attending" {{selectedIfEquals "not attending"}}>Not Attending</option>
            </select>
        </div>
    </div>
</template>
